{% extends "registration/login.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block title_page %}Восстановление пароля{% endblock%}
{% block block_content_top %}Забыли пароль?{% endblock%}
{% block content %}
	<div class="row">
		<div class="block register">
			<p class="otstup_bottom">Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
			<div class="clr"></div>
			<form id="statistik_form" method="post" action="" class="task otstup_top">{% csrf_token %}
				{% if form.email.errors %}
					<div class="error"><h4>{{ form.email.errors }}</div>
				{% endif %}
				{{ form.email }}
				<input class="but f_right" type="submit" value="Отправить" />
				
			</form>
		</div>
	</div>
	<div class="clr">&nbsp;</div>
{% endblock %}