{% extends "registration/password_reset_form1.html" %}

{% block content %}
	<div class="row">
		<div class="block register">
			<p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
			
			<form id="statistik_form" method="post" action="" class="task">{% csrf_token %}
				{% if form.errors %}
					<div class="error"><h4>{{ form.new_password1.errors }}</div>
					<div class="error"><h4>{{ form.new_password2.errors }}</div>
				{% endif %}
				{{ form.new_password1 }}
				{{ form.new_password2 }}
				<input class="but f_right" type="submit" value="Сохранить" />
			</form>
		</div>
	</div>
	<div class="clr">&nbsp;</div>
{% endblock %}
