{% extends "wide.html" %}

{% block title %}Продление регистрации{% endblock %}
{% block title_page %}Покупка/продление регистрации.{% endblock%}
{% block block_content_top %}Покупка/продление регистрации{% endblock%}

{% block content %}
	<form method="post" action="{{ form.target }}">
		<table>
			{{ form.as_table }}
		</table>
		<input class="but" type="submit" value="Оплатить" />
	</form>
	
	<div class="otstup_top">
		<p>Купите/продлите регистрацию, чтобы Вам были доступны все разделы и функции сайта.</p>
		<p>Стоимость покупки/продления регистрации на {{ cfg.duration_extension }} дней - {{ cfg.cost_extension }} рублей.</p>
	</div>
{% endblock%}