{% extends "training_info.html" %}
{% load mformulas_tags url_tags %}

{% block title %}Тренировка{% endblock %}
{% block title_page %}Результаты тренировки.{% endblock%}
{% block block_content_top %}Верных ответов {{ nm.n }} из {{ nm.m }}{% endblock%}		

{% block content_text %}
	{% if training %}
		<div id="training_list">
			<table id="table_list" width="100%" class="otstup_bottom">
				<tbody>
					<tr>
						<th class="th_first" width="10px"></th>
						<th width="635px">Формула</th>
						<th  width="70px">Результат</th>
						<th class="th_last" width="10px"></th>
					</tr>
					{% for t in training %}	
						<tr>
							<td class="td_first"></td>
							<td>{{ t.dictionary.formula.get_formula }}</td>
							<td {% if t.is_right_last_answer %}class="ok pos_cent" title="Верно"{% else %}class="no_ok pos_cent" title="Неверно"{% endif %}>&nbsp;</td>
							<td class="td_last" width="10px"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		<div class="clr"></div>
		<a class="but otstup_top" style="width:180px; margin-left:250px;float:left;" href="/training/?subject_name={{subject_name}}">Продолжить тренировку</a>
	{% endif %}
{% endblock%}