<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load videoplayer_tags %}

<html lang="ru">
	<head>
		<title>VideoPlayer</title>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/default.css">
		{% VideoPlayerMedia %}
		
		<script>
			function onplay(){
				$.ajax({
					type: "GET",
					url: '/video_on_play/click/?subject_name={{ subject_name }}&lesson_id={{ lesson_id }}',
					error: function(){},
					success: function(data){}
				});
				return false;
			};
		</script>
	</head>
	
	<body style="background:white;">
		{% VideoFile url %}
	</body>
</html>