{% if formulas %}
	<ul>
		{% for formula in formulas %}
			<li>
				<div class="title_li"><h4>{{ formula.formula.title }}</h4></div>
				<div class="formula">{{ formula.formula.get_formula }}<span class="close">&nbsp;</span></div>
			</li>
		{% endfor %}
		<script>
			$('.right_block ul li .title_li').click(
				function(){
					$(this).parent().addClass('hover_formula');
					MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
			});
			$('.right_block .close').click(
				function(){
					$(this).parents('.hover_formula').removeClass('hover_formula');
				});
		</script>
	</ul>
{% else %}
	Формул из этого урока в словаре нет.
{% endif %}